<body style="background-color: white; margin-top: 50px;" >


<div class="container w3-animate-left">
    <div class="heading">
        EMPLOYEE &nbsp; &nbsp; &nbsp; PAYROLL &nbsp; &nbsp; SYSTEM
    </div>

    <h4>
        <i>Every company needs to run payroll. And while it may not be the most glamorous job, it’s an essential duty
        nonetheless. Staying on top of business payroll allows everyone on your team to get paid the correct amount on
        time.
        However, the payroll process can be repetitive, mundane, and time-consuming.If you run a company with many
        employees, the payroll process can also get complicated.
        <br><br>
        A payroll system enables you to run payroll quickly and efficiently. By spending less time and effort on
        payroll,
        you can focus on other, more pressing business needs. In this article, we’ll explain what a payroll system is,
        how
        payroll is done, and how your business can benefit from a payroll process. Read on to learn more about how to
        set up
        payroll, or skip to any section by using the links below.</i>
    </h4>

    <div class="heading">
        What is payroll ?
    </div>

    <h4>
        <i>Running payroll refers to the process of compensating employees for their work. Every pay period, an employer
        must
        calculate and distribute employees’ wages. The employer is responsible for accurately adding up the hours an
        employee worked and calculating their gross wages. Employers are also tasked with making deductions for local
        and
        federal taxes, Social Security, unemployment insurance, and more. Then the company must disburse paychecks to
        employees on payday.
        <br><br>
        As you can imagine, this process can get messy quickly. If you have more than one or two employees, running
        payroll
        can become extremely complicated and overwhelming. For the sake of time and convenience, most business owners
        find
        ways to avoid running payroll themselves. Typically, they either set up an in-house payroll system or outsource
        payroll to a different company.</i>
    </h4>
</div>
    <div class="text-center p-4" id="XYZ">
        © 2022 Copyright :
        <a class="text fw-bold"  style="color: #ffffff; text-decoration: none;">CTS &nbsp; DX050 &nbsp; Team 4 </a>
      </div>

      
</body>
