<body style="background-color: white;">


    <div class="ABC w3-animate-zoom">
    <div class="about">
        <h2>About &nbsp; The &nbsp; Project</h2>
    </div>

    <h3>
        This is a custom built Website concerned with Employee and their Payroll Management
    </h3>


    <div class="features">
        <h2>Featues of this Project :</h2>
    </div>

    <div class="container">
        <ul class="feature">
            <li>
                <h3>Basic Home Page</h3>
                <h3>Basic About Page</h3>
                <h3>Contact Page (Form)</h3>
                <h3>Login / Sign Up</h3>
                <h3>Employee Portal</h3>
                <h3>Admin Portal</h3>
                <h3>Add Employee</h3>
                <h3>Update Employee</h3>
                <h3>Delete Employee</h3>
                <h3>User Type Authentication</h3>
                <h3>Grievance Request Form</h3>
                <h3>Contact Request</h3>
                <h3>4 Schemas</h3>
                <h3>17 Components</h3>
                <h3>3 Interfaces</h3>
                <h3>1 Service</h3>
            </li>
        </ul>
    </div>
</div>






    <div class="text-center p-4" id="XYZ">
        © 2022 Copyright :
        <a class="text fw-bold" style="color: #ffffff; text-decoration: none;">CTS &nbsp; DX050 &nbsp; Team 4 </a>
    </div>

</body>