<body style="background-color: white;" class="w3-animate-zoom">

  <div 
    style="background-color: rgb(70, 67, 62); height: 50px; margin: 0%; padding: 10px;">

    <a routerLink="/admin"
      style="margin-left: 20px; background-color: rgb(70, 67, 62); color:  whitesmoke; height: 40px; cursor: pointer;text-decoration: none; "><b>Home</b></a>

    <a routerLink="/employee"
      style=" cursor: pointer;text-decoration: none;margin-left: 500px; background-color: rgb(70, 67, 62); color:  whitesmoke; height: 40px; "><b>
        Manage
        Employees</b></a>

    <a routerLink="/login"
      style=" cursor: pointer;text-decoration: none;padding-left: 500px; background-color: rgb(70, 67, 62); color:  whitesmoke; height: 40px; "><b>Logout</b></a>

  </div>
  <h2 style="text-align: center; margin-bottom: 30px;">Employee Table :- </h2>

  <div class="container" style="margin-top: 30px; margin-left: 90px;">
    <nav class="navbar">
      <input type="text" class="closebtn" name="empID" #pdt [(ngModel)]="empID"
        placeholder="Enter Employee ID to Search" style="width: 300px; height: 30px;margin-left: 400px;">
    </nav>
    <table class="table" style="width: 1200px; border: 2px solid black;max-width: 90%;border-radius: 20px;">
      <thead style="border: 1px solid black;border-bottom: 1px solid #333333 ;">
        <tr style="background-color: rgb(235, 50, 204);color: #FFFFFF;">
          <th
            style="border-left: 1px solid #333333 ;border-bottom: 1px solid #333333 ;text-align: center; padding: 20px;">
            IMAGE </th>
          <th
            style="border-left: 1px solid #333333 ;border-bottom: 1px solid #333333 ;text-align: center; padding: 20px;">
            EMPLOYEE<br>ID</th>
          <th
            style="border-left: 1px solid #333333 ;border-bottom: 1px solid #333333 ;text-align: center; padding: 20px;">
            FIRST <br> NAME</th>
          <th
            style="border-left: 1px solid #333333 ;border-bottom: 1px solid #333333 ;text-align: center; padding: 20px;">
            LAST <br> NAME </th>
          <th
            style="border-left: 1px solid #333333 ;border-bottom: 1px solid #333333 ;text-align: center; padding: 20px;">
            ACTION</th>
        </tr>
      </thead>

      <tbody style="background-color: #FFFFFF ;">
        <tr *ngFor="let obj of (response|async)|filter:empID" style="height: 50px; text-align: center; padding: 10px;">
          <td style="border-left: 1px solid #333333;border-bottom: 1px solid #333333 ;"><img src="{{obj.emp_img}}"
              width="50px" height="50px"></td>
          <td style="border-left: 1px solid #333333 ;border-bottom: 1px solid #333333 ;"> <a
              routerLink="/empdetails/{{ obj._id }}" style="color: black; text-decoration: none;font-weight: 600;">{{
              obj.empID }}</a></td>
          <td style="border-left: 1px solid #333333 ;font-weight: 600;border-bottom: 1px solid #333333 ;">{{ obj.empFN
            }}</td>
          <td style="border-left: 1px solid #333333 ;font-weight: 600;border-bottom: 1px solid #333333 ;">{{ obj.empLN
            }}</td>
          <td style="border-left: 1px solid #333333 ;border-bottom: 1px solid #333333 ;">
            <i (click)="delPdt(obj._id)" class="fa fa-trash" style="font-size: 30px;color: red;cursor: pointer;"></i>
            <a routerLink="/updateemp/{{obj._id}}" style=" padding-left: 10px;"><i class="fa fa-edit"
                style="font-size: 32px;color: blue;"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center p-4" id="XYZ">
    © 2022 Copyright :
    <a class="text fw-bold" style="color: #ffffff; text-decoration: none;">CTS &nbsp; DX050 &nbsp; Team 4 </a>
  </div>
</body>